.paper {
    border-radius: 0.625rem;
    background-color: var(--c-secondary);
    margin: 0.625rem;
    width: 100%;
}

.title {
    color: var(--c-text);
}

.content {
    color: var(--c-text);
}

.cancelButton {
    background-color: transparent;
    color: var(--c-text);
}

.confirmButton {
    background-color: var(--c-confirm-button);
}
