@import "../../styles/helpers/variables";
@import "../../styles/helpers/mixins";

.menu {
    width: 100%;
    background-color: var(--c-primary-dark);
    height: 6.625rem;
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    z-index: 100;

    &__subheader{
        width: 100%;
        background-color: red;
        display: block;
        text-align: center;
        color: white;
        padding-top: 15px;
    }
    &__items {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 1.5625rem;
        color: white;

        @include for-size($default-bigger-screen-breakpoint) {
            max-width: $large-container-size;
            padding: 0;
        }
    }

    &__item {
        width: 33.33%;
    }

    &__logo {
        width: 4rem;
    }

    &__last-item {
        display: flex;
        justify-content: flex-end;
    }
}

.accountMenuButton {
    border: 1px solid var(--c-tertiary);
    background-color: transparent;
}

