.root {
    background-color: var(--c-secondary);
    margin-bottom: 1.25rem;
}

.pageBody {
    margin-top: 4rem;
}

.userBalances {
    margin-bottom: 2rem;
}

.feesEarned {
    margin-bottom: 2rem;
}

.tabBar {
    margin-bottom: 1.75rem;
}

