.root {
    padding: 1.0625rem;
    border-radius: 0.625rem;
    background-color: var(--c-primary-dark);
    color: var(--c-text);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
}

.title {
    font-size: 1rem;
    text-align: center;
}

.token-weight-bar {
    margin-bottom: 1.25rem;
}

.volume-wrapper {
    display: flex;
    justify-content: space-between;
}

.outcomes-wrapper {
    margin-bottom: 1.25rem;
}

.outcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.outcome-label-wrapper {
    display: flex;
    align-items: center;
}

.colorLabel {
    height: 0.5rem;
    min-width: 1.5rem;
    border-radius: 0.3125rem;
    margin-right: 0.625rem;
}

.tokenName {
    max-width: 85%;
}
